.grid {
	margin: 1em auto;
	border-collapse: collapse;
	position: absolute;
	left: 475px;
}

.grid td {
	cursor: pointer;
	width: 30px;
	height: 30px;
	border: 1px solid #ccc;
	border: 1px solid #ccc;
	text-align: center;
	font-family: sans-serif;
	font-size: 13px
}

.grid td.clicked {
	background-color: yellow;
	font-weight: bold;
	color: red;
}

.grid td.start {
	background-color: green;
	font-weight: bold;
	color: red;
}

.grid td.finish {
	background-color: purple;
	font-weight: bold;
	color: red;
}

.grid td.portal {
	background-color: orange;
	font-weight: bold;
	color: red;
}

.grid td.path {
	background-color: blue;
	font-weight: bold;
	color: red;
}

.button {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	background-color: #4CAF50;
}

.dark-mode {
	background-color: #212121;
	color: white;
}

.sidebar {
	margin: 0;
	top: 0;
	left: 0;
	padding: 0;
	width: 200px;
	background-color: grey;
	position: fixed;
	height: 100%;
	overflow: auto;
}

div.content {
	margin: auto;
	width: 120px;
	padding: 10px;
}

button {
	background-color: transparent;
	border-style: solid;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	width: 120px;
	height: 50px;
	margin: 5px;
}